version: "3.7"

services:
  web:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - "${APP_DATA_DIR}/www/html:/usr/share/nginx/html:ro"
      - "${APP_DATA_DIR}/nginx/conf.d:/etc/nginx/conf.d:ro"
      
